<div class="sidebar">
  <div class="sidebar__item">
    <h4><%= t "shared.category" %></h4>
    <ul>
      <% @parent_products.each do |parent_product| %>
        <li>
            <%= search_form_for @q, url: request.original_url, local: true, method: :GET do |f| %>
              <%= f.hidden_field :product_id_eq, value: parent_product.id %>
              <%= f.submit parent_product.name, style: "border: none; background:none; margin-top: 4%" %>
            <% end %>
         </li>
      <% end %>
    </ul>
  </div>
</div>
