<tr>
  <td class="shoping__cart__item">
    <h5><%= category.name %></h5>
  </td>
  <td>
    <i class="fa fa-pencil-square-o fa-2x"></i>
  </td>
  <td class="shoping__cart__total">
    <i class="fa fa-times fa-2x"></i>
  </td>
</tr>
