<tr>
  <td class="shoping__cart__item">
    <%= image_tag load_image_path_product(product.id), class: "product_row_image" %>
    <h5><%= product.name %></h5>
  </td>
  <td>
    <i class="fa fa-pencil-square-o fa-2x"></i>
  </td>
  <td class="shoping__cart__quantity">
    <i class="fa fa-bars fa-2x"></i>
  </td>
  <td class="shoping__cart__total">
    <i class="fa fa-times fa-2x"></i>
  </td>
</tr>
