$gray-background: #f5f5fa;
$white: #fff;
$blue-light: rgb(26, 148, 255);
$blue-darker: rgb(13, 92, 182);
$yellow-darker: rgb(253, 216, 53);
$gray: #555;
$gray-light: #777;
$gray-medium-light: #eaeaea;
$gray-darker: #222;
$state-danger-text: #a94442;
$box-shadow-normal: rgba(0, 0, 0, 0.08);
$orange-dark: #c7b200;
$red: rgb(255, 0, 0);
